[Unit]
Description=Mark slots as bootable
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/qbootctl -m a
ExecStart=/usr/local/bin/qbootctl -m b

[Install]
WantedBy=multi-user.target